body {
  color: white;
  font-family: "Consolas";
  font-weight: normal;
  margin: 0;
  font-size: larger;
}
@media screen and (max-width: 600px) {
  body {
    font-size: medium;
  }
}

@font-face {
  font-family: 'Consolas';
  src: url('./assets/ttf/CONSOLA.TTF');
  font-weight: normal;
}

div.content-container {
  margin-inline: 2em;
}