body {
  color: white;
  font-family: "Consolas";
  font-weight: normal;
  font-size: larger;
  margin: 0;
}

@font-face {
  font-family: 'Consolas';
  src: url('./assets/ttf/CONSOLA.TTF');
  font-weight: normal;
}

div.content-container {
  margin-inline: 2em;
}