:root {
  --dark-purple: #40078f;
  --bg-color: #c9adf0;
}

.Header {
  display: block;
  overflow: hidden;
  background-color: var(--bg-color);
  height: 10%;
  width: 100%;
  position: relative;
  top: 0;
}

p {
  font-family: Consolas;
  font-size: medium;
  color: white;
}

h1 {
  font-family: Consolas;
  color: white;
}

.HeaderItem {
  background-color: #c9adf0;
  height: 100%;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding-inline: 1rem;
  padding-block: 0;
  vertical-align: middle;
  width: auto;
}

.HeaderItem :hover {
  background-color: var(--dark-purple);
  color: white;
}

.siteTitle {
  display: inline-block;
  color: var(--dark-purple);
  font-family: 'Consolas';
  position: relative;
  margin-left: 2rem;
  text-align: center;
}

.headerNav {
  background-color: var(--bg-color);
  display: inline-flex;
  position: relative;
  height: 100%;
  margin-left: 2rem;
}

.siteBody {
  display: block;
  width: auto;
  overflow: hidden;
  height: auto;
  padding-inline: 20%;
  padding-top: 2rem;
}

.link {
  font-family: Consolas;
  display: block;
  text-decoration: underline;
  color: var(--dark-purple);
}

.HeaderLink {
  font-family: Consolas;
  font-size: medium;
  display: inline-flex;
  text-decoration: none;
  color: var(--dark-purple);
  vertical-align: middle;
  margin-inline:auto;
  margin-block: 0;
  text-align: center;
}