:root {
  --dark-purple: #40078f;
  --pastel-purple: #c9adf0;
  --bg: #1b1a1c;
  --header-color: #dfd0f5;
}

p {
  font-family: Consolas;
  font-size: medium;
  color: var(--pastel-purple);
}

h1 {
  font-family: Consolas;
  color: var(--header-color);
}

.link {
  font-family: Consolas;
  display: block;
  text-decoration: underline;
  color: var(--pastel-purple);
}