.Header {
  display: inline-block;
  overflow: hidden;
  background-color: #c9adf0;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
}

p {
  margin-inline: 1rem;
  font-family: Consolas;
}

.HeaderItem {
  background-color: #c9adf0;
  color: black;
  height: 100%;
  display: inline-block;
  position: relative;
  font-family: Consolas;
  font-size: medium;
  margin-left: 1rem;
  margin-right: 2rem;
}

.HeaderItem :hover {
  background-color: #40078f;
  color: white;
}

.siteTitle {
  display: inline-block;
  color: #8034eb;
  font-family: 'Consolas';
  position: relative;
  margin-left: 2rem;
  position: relative;
  text-align: center;
}

.headerNav {
  background-color: #c9adf0;
  display: inline-block;
  height: 100%;
  float: right;
}

.siteBody {
  display: inline-block;
  top: 10%;
  position: fixed;
}